extends ./layout.jade

block content
	.buttons
		a.fs-portal.button.info(href='/films?type=fs') FS
		a.ex-portal.button.info(href='/films?type=ex') EX

	include ./footer.jade

	script(type='text/javascript').
		var ui = {
			btns: $('.buttons'),
			fs: $('.fs-portal'),
			ex: $('.ex-portal')
		};
		ui.fs.focus();
		$('body').on('keydown', function(evt) {
			var kCode = evt.which || evt.keyCode;
			switch(kCode) {
				case 112: // f1
					window.location.reload() || location.reload();	
					break;
				case 37: //left
				case 39: // right
					if (ui.fs.is(':focus')) {
						ui.ex.focus();
					} else {
						ui.fs.focus();
					}
					break;
				case 13: // ok
					break;
			}
		});
