doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Exo+2:400,400italic,800,700,600', rel='stylesheet', type='text/css')
  body
    block content
