#player
	object#vlc(classid='clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921', width='100%', height='100%', events='True', windowless='True')
		param(name='ShowDisplay', value='True')
		param(name='AutoLoop', value='False')
		param(name='AutoPlay', value='False')
		param(name='Volume', value='100')
		param(name='toolbar', value='False')
		param(name='StartTime', value='False')
		param(name='wmode', value='transparent')
		embed(pluginspage='http://www.videolan.org', type='application/x-vlc-plugin', version='VideoLAN.VLCPlugin.2', width='100%', height='100%', toolbar='false', text='', name='vlc', autoplay='false', windowless='True')
		
