html, body {
	overflow: hidden;
	background: transparent;
}
.items-container {
	width: 3000px;
	overflow: hidden;
}
.item {
	float: left;
	width: 120px;
	padding: 0 5px;
	opacity: .7;
}
.item .img {
	display: block;
	position: relative;
	width: 110px;
	height: 680px;
	background-size: cover;
}
.item p {
	display: none;
	height: 32px;
	color: #2196F3;
	font: normal 18pt/24pt 'Exo 2', sans-serif;
	overflow: hidden;
}
.item:focus {
	width: 480px;
	background: #E0E0E0;
	opacity: 1;
}
.item:focus .img {
	width: 470px;
}
.item:focus p {
	display: block;
}
#kCode {
	position: absolute;
	display: none;
	top: 0;
	right: 0;
	font-size: 14pt;
	z-index: 100;
}
a[class*='-portal'] {
	width: 292px;
	float: left;
	font-size: 130pt;
	border-radius: 0;
}
a[class*='-portal']:focus {
	border-color: #007095;
	background-color: #008CBA;
}